body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,
h2,
h3 {
    line-height: 1.2
}

code {
    border: gray 1px solid;
    padding: 1px 3px 1px 3px;
    background-color: lightyellow;
    margin-left: 2px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: lightgray 1px solid;
}

td {
    padding: 5px;
}
